<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>
<!--   <Listener className="org.apache.catalina.core.JasperListener"/> -->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <GlobalNamingResources>
    <Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
  </GlobalNamingResources>
  
   <Service name="soloWeb3"> 
    <Connector URIEncoding="UTF-8" connectionTimeout="20000" maxParameterCount="-1" maxPostSize="-1" port="8100" protocol="HTTP/1.1" redirectPort="8443"/>
    <Connector URIEncoding="UTF-8" port="8101" protocol="AJP/1.3" redirectPort="8443"/>
    <Engine defaultHost="localhost" name="soloWeb3">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
      <Host appBase="" autoDeploy="true" name="localhost" unpackWARs="true" xmlNamespaceAware="false" xmlValidation="false">
<!--         <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="common" prefix="sis_access_log." resolveHosts="false" suffix=".txt"/> -->
        
      <Context docBase="soloWeb3" path="/" reloadable="true" source="org.eclipse.jst.jee.server:soloWeb3"/></Host>
    </Engine>
  </Service>

</Server>